<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/joinsheet.css}">
</head>
<body>
    <div class="join-wrapper">
        <h2>Register</h2>
        <form th:action="@{/members/create}" th:object="${memberForm}" method="post" id="join-form">
            <input type="text" th:field="*{username}" id="username" name="username" placeholder="Name">
            <input type="email" name="useremail" placeholder="Email">
            <input type="password" th:field="*{password}" id="password" name="password" placeholder="Paaword">
            <input type="password" name="userPassword" placeholder="Password(다시 입력)">
            <input type="submit" value="Register">
            <button class="back-button">LOG IN</button>
        </form>

    </div>  
    <script>
<!--        function goBack() {-->
<!--            window.history.back();-->
<!--        }-->
<!--        function showRegisterMessage() {-->
<!--            alert('가입되었습니다!');-->
<!--            window.location.href = 'html.html';-->
<!--            return false;-->
<!--        }-->
    </script>
</body>
</html>