<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link rel = "stylesheet" type = "text/css" th:href="@{/loginsheet.css}">
</head>
<body>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" th:action="@{/members/login}" id="login-form">

            <input type="text" name="username" id="username" placeholder="Name">
            <input type="password" name="password" id="password" placeholder="Password">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    사용자ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
            <div id="remember-check-wrapper">
                <label for="remember-check">
                    <input type="checkbox" id="remember-check">아이디 저장하기
                </label>
            </div>
            <input type="submit" value="Login">
        </form>
        <button onclick="goRegister()" class="go-button">Register</button>
    </div>
</body>
</html>